body {
  font-family: "Arial, Helvetica, sans-serif";
  font-size: 20px;
  padding:0;
  margin:0;
  background-image: url("images/bg.png");
}

#page {
  clear : both;
  width: 600px;
  height: 800px;
  margin: 0px auto;
  text-align: center;
  background-color: white;
  padding:4px;
}
#pageheader {
 height:50px;
 font-size: 26px;
 font-weight:700;
 font-family:Arial,Helvetica,sans-serif;
}
#infoheader {
  text-align:  left;
  color:       #594a42;
  font-size:   11px;
  font-family: Arial,Helvetica,sans-serif;
}

#en {
  text-align: left;
  font-size: 14px;
}

#en_en {
  font-weight: 200;
}

pre {
  font-size: 12px;
}

#header {
 color: white;
 height:60px;
 width:100%;
 padding:1px;
 padding-left: 10px;
 border:0;
 margin:0;
 background:#2d4f15;
 font-size: 16px  !important;
}

#gxlogo {
  width: 200px;
  height: 100%;
  background-image : url("images/Geocaching58.png");
  background-repeat: no-repeat;
  float: left;
}

#inflogo {
  width: 60px;
  height: 100%;
  background-image : url("images/infinity.png");
  background-repeat: no-repeat;
  float: right;
}

#infname {
  
  padding: 10px;
  vertical-align: middle;
  height: 100%;
  width: 100px;
  float: right;
}

#messageicon {
  height: 100%;
  width: 60px;
  margin-top: 5px;
  background-image : url("images/message-center2x.png");
  background-repeat: no-repeat;
  float: right;
}

#messages a {
  font-weight: 400 !important;
  color: #FFFFFF  !important;
  text-decoration: none;
}

#messages {
  padding: 10px;
  vertical-align: middle;
  height: 100%;
  width: 400px;
  float: right;
}

