<h1>servers</h1>

<input type="text" [(ngModel)]="serverName" (input)="onUpdateServerName($event)" />
<p>{{ serverName }}</p>

<button
  class="btn btn-primary"
  [disabled]="!allowNewServer"
  (click)="onCreateServer($event)">Add server</button>
<p>({{ allowNewServer }})</p>

<p [innerText]="serverCreationStatus"></p>


<div class="confirmation" *ngIf="serverCreated; else noServer"><p>Server created</p></div>

<ng-template #noServer>
  <div>No server created</div>
</ng-template>


<app-server *ngFor="let server of servers"></app-server>

<p>servers done</p>

<p footer="main">
</p>
