<?php

// pouzivat debug rezim
define ('HAVE_DEBUG', true);

// pouzivat databazi ?
define ('HAVE_MYSQL', true);

// databaze
$DB_HOST='localhost';
$DB_USER='user';
$DB_PASS='pass';
$DB_DB='db';

// heslo pro vytvoreni db schema
$DB_CREATE='pass';

// heslo pro generovani certifikatu
define ('PASSWORD', "my secRet passw0rd_1");
