body {
    background-image : url('img/pipboy.jpg');
    background-repeat : no-repeat;
    background-position : center  top;
}

div#input_div {
    background-color: green;
    width : 400px;
    margin : auto; 
    margin-top:60px;
    
}


div#result {

    background-color: #007700;
    width : 400px;
    margin : auto; 
    margin-top:60px;
    

}
