body {
    background-image : url('img/pipboy.jpg');
    background-repeat : no-repeat;
    background-position : center  top;
}

div#input_div {
    color: #77ff77;
    background-color: black;
    width : 400px;
    margin : auto; 
    margin-top:60px;
    
}

div#perky_preview {
    width: 500px;
 }

div#result {

    color: #77ff77;
    background-color: black;
    width : 400px;
    margin : auto; 
    margin-top:60px;

}
