// 3 BITMAP DISCARDABLE LOADONCALL MOVEABLE "infoback.bmp"
// 4 BITMAP DISCARDABLE LOADONCALL MOVEABLE "chatback.bmp"

#include "chatback.rc"
#include "infoback.rc"

STRINGTABLE 
BEGIN

100, "Chceš zrušit skupinu ?"
101, "Chceš se odhlásit ?"
102, "Nezadal jsi o sobì žádný informace!"
103, "Již v této skupinì jste"
104, "Tøicet písmen ti na jméno nestaèí ty kokote ?"
105, "Proè sem poøád èumíš ???"
106, "Všechny soubory|*.*"
107, "Textové soubory (*.txt)|*.TXT"
108, "Skupina již existuje !"
109, "Nejdøíve musíte ukonèit všechny rozhovory"
110, "Zadejte jméno skupiny:"
111, "Opravdu konec ?"
112, "Nejdøíve musíte zvolit uživatele"
113, "Opravdu chcete pøerušit rozhovor ?"
114, "Opravdu chcete smazat rozhovor ?"
115, "Uživatel tohoto jména již existuje !\nMusíte si zvolit jinou pøezdívku"
116, "Poslat soukromou zprávu uživateli u poèítaèe "
117, "Pro pøijetí souboru potøebujete novìjší verzi programu!"

150, "v2.0\n(p1.0 & p0.9)"
151, "© PTN & D.M.\nTento program je freeware"

200, "REALITY.VXD corrupted -- reboot Universe [Y,n]?"
201, "Disk error: (A)bort, (R)etry, (P)anic"
202, "God is real... unless declared integer."
203, "Keyboard missing, press F13 to continue."
204, "Don't drink water. Fish fuck in it."
205, "VirusScan warning: \nWindows found: Remove it? [Y,n]"
206, "We all live in a yellow subroutine."
207, "Your hard disk has been formatted ..."
208, "Insert floppy disk in drive D:"
209, "All protective devices failed, call GhostBusters"
210, "Memory failed. Use paper."
211, "Shut power down & press any key !"
212, "Your mouse is hungry!"
213, "This program is not good. Try another one."
214, "ATENTION!: High voltage on keyboard !"
215, "ERROR !!!  Press quickly DEL-ALT-CTRL !"
216, "Junk: Stuff we throw away.\nStuff: Junk we keep."
217, "Blow your mind... Smoke gunpowder."
218, "Insert hamburger in drive B: !"
219, "Bad command or operator."
220, "Do you speak in TurboPascal ?"
221, "ATENTION ! RAM is write - protected !!!"
222, "Warning : Too many floppies in one drive !"
223, "Warning : Your monitor is RADIOACTIVE !"
224, "Too young disk in drive A: !"
225, "Eat right, stay fit, die anyway."
226, "Look at the bugs and be happy."
227, "Real programmers use COPY CON PROGRAM.EXE"
228, "This is undocumented features to rule the Earth!"
229, "All rights released."
230, "All rights reversed."
231, "There is something rotten in your computer !"
232, "Your Hard disk went soft."
233, "Do radioactive cats have 18 half-lives?"
234, "I'm sorry, Dave... but I'm afraid I can't do that!"
235, "Format another hard drive (Y/N) ?"
236, "How to double your hard drive space:\n Delete Windows."
237, "Sorry, but ... do you have a brain ?!?"
238, "Your Hard Disk is dead, but Elvis lives!"
239, "This Hard disk is write only."
240, "All viruses found."
241, "WARNING ! Smog in drive Q:"
242, "This program requires computer Ono-Sendai Cyberspace 7 !"
243, "Thisoriginlinecreatedusingpkzip1.10"
244, "External Error : INTELLIGENCE not found !"
245, "Always make a backup copy of your sex partner !"
246, "Critical ERROR : Use hammer."

250, "Chyba pøi komunikaci s myší - nedostatek sýra!"
251, "Závada v sektoru vìènosti"
252, "Varování: okurková chyba!"
253, "Aby tvým pohlavním orgánùm narostla køídla\na odletìly ti, ty zmetku jeden!"
254, "Chyba hodin nereálného èasu !"
255, "Tvùj otec byl sud trusu zlatých rybièek\na tvoje matka putýnka želvího slizu!"


300, "Nejmenovaný student SPŠ Jièín\n\nReakce na Easter Eggs:\nTakhle jsem se nezasmál od té doby, co jsem poprvé vidìl Stoupu."
301, "Oxford English Dictionary:\n\nLANCHmeAT:  Highly advanced communication program."
302, "'Realita:\nIluze zpùsobená nedostatkem alkoholu"
END

